# Angular
.angular/
dist/

# Test coverage output
coverage/

# Dependencies
node_modules/

# Build
*.tgz

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Environment

# Vercel
.vercel
